.alinearIzquierda{
  @extend .alinearIzquierda
}

.alinearCentro2 {
    text-align: center;
    font-family: $fuente;
    font-size: 20px;
    color: $color;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5%;
    margin: 2rem auto;
    text-align: center;
    margin-right: center;
    margin-top: center;
}

.fondo2 {
    background: $fondo;
}

.alinearboton3 {
    text-align: center;
    background-image: linear-gradient(to bottom, $color,greenyellow);
    padding: 5px;
    font-size: 15px;
    font-family: $fuente;
    cursor: pointer;
    transform: translateX(53rem)
}