.alinearDatos {
    @extend .alinearDatos 
}

.alinearboton4 {
    text-align: center;
    background-image: linear-gradient(to bottom, $color,greenyellow);
    padding: 5px;
    font-size: 15px;
    font-family: $fuente;
    cursor: pointer;
    transform: translateX(53.4rem)
}
