.preguntas {
    @include letras (center, $colors, 25px);   
        font-weight: bold;
        font-family: $fuente;
        padding-top: 1rem; 
    }

.preguntas1 {
    @extend .preguntas;
    padding-top: 2rem;
}

.metodo {
    @include letras (left, $colors, 20px);
    font-weight: bold;
    font-family: $fuente;
    
}

