.preguntas {
        color: $color;    
        font-weight: bold;
        text-align: center;
        font-family: $fuente;
        font-size: 25px;
        padding-top: 1rem; 
    }

.metodo {
    color: $color;
    font-weight: bold;
    text-align: left;
    font-family: $fuente;
    font-size: 20px;
    
}

