.alinearDerecha {
    font-family: 'Share Tech Mono', monospace;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.carrito {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    background-image: linear-gradient(to bottom, $color,greenyellow);
}

.color__Index {
    color: $color;
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Share Tech Mono', monospace;
}

.alinearBusqueda {
    display: flex;
    justify-content: center;
}