.alinearDerecha {
    font-family: $fuente;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.carrito {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    background-image: linear-gradient(to bottom, $colors,greenyellow);
}

.color__Index {
    color: $colors;
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: flex-end;
    font-family: $fuente;
}

.alinearBusqueda {
    display: flex;
    justify-content: center;
}