.alinearImagenes {
    text-align: Center;
    word-spacing: 100px;
    border: double;
    border-color: $colors ;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-top-width: 10px;
    grid-area: ele5;
    margin-top: 8rem;
    &__fondo {
        background-color: black;
    width: 150px;
    }
}

.bienvenidos {
    @include letras (center, $colors, 35px);
    font-family: $fuente;
    font-weight: bold;
    padding: 1px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    background: $fondo;
}

.imagencover {
    width: 150px;
    height: 550px;
}

.boton {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, $colors,greenyellow);
    padding: 5px;
    font-size: 15px;
    font-family: $fuente;
    cursor: pointer;
    width: 77px;
}

.motherboards {
    @include cards ($colors, 15px, $fuente);
    text-align: left;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 1cm;
}

