@media screen and (max-width: 1024px) {

    .alinearDerecha {
        display: flex;
        flex-direction: row;
    }
    
    .carrito {
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem;
    }
    
    .color__Index {
        color: $color;
        display: flex;
        padding: 0.5rem;
        flex-direction: row;
        justify-content: flex-end;
        font-family: $fuente;
    }
    
    .alinearCentro {
        text-align: center;
        font-family: $fuente;
        font-size: 20px;
        color: $color;
        font-weight: bold;
        padding: 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 75px;
    }
    
    .alinearCentro1 {
        text-align: center;
        font-family: $fuente;
        font-size: 20px;
        color: $color;
        font-weight: bold;
        padding: 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: black;
        border-radius: 5%;
        height: 100px;
        width: 300px;
        margin: 2rem auto;
        text-align: center;
        margin-right: center;
        margin-top: center;
        background: linear-gradient(to bottom, black, $fondo);
    }
    
    .alinearCentro2 {
        text-align: center;
        font-family: $fuente;
        font-size: 20px;
        color: $color;
        font-weight: bold;
        padding: 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 5%;
        margin: 2rem auto;
        text-align: center;
        margin-right: center;
        margin-top: center;
    }
    
    .alinearBusqueda {
        display: flex;
        justify-content: center;
    }
    
    .alinearboton {
        text-align: center;
        background-image: linear-gradient(to bottom, $color,greenyellow);
        padding: 5px;
        font-size: 15px;
        font-family: $fuente;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }
    
    .footer {
        text-align: right;
        padding: 50px;
        color: $color ;
    }
    
    .derechos {
        padding: 10px;
        color: $color;
        border: dotted;
        background-color: black;
        margin-bottom: 2cm;
        display: flex;
        justify-content: center;
    }

    .alinearImagenes {
        text-align: Center;
        word-spacing: 100px;
        border: double;
        border-color: $color ;
        border-left-width: 10px;
        border-right-width: 10px;
        border-bottom-width: 10px;
        border-top-width: 10px;
        grid-area: ele5;
        margin-top: 8rem;
    }
    
    .alinearDatos {
        text-align: center;
        font-family: $fuente;
        font-size: 25px;
        color: $color;
        font-weight: bold;
       background: linear-gradient(to bottom, black, $fondo);
    }
    
    .alinearIzquierda{
        color: $color;
        font-family: $fuente;
        padding: 5px;
        
    }
    
    .alinearIzquierda1 {
        color: $color;
        font-family: $fuente;
        padding: 1cm;
    }
    .fondo {
        background-color: black;
        width: 150px;
    }
    
    .fondo2 {
        background: linear-gradient(to bottom, black, $fondo);
    }
    
    .boton {
        background-image: linear-gradient(to bottom, $color,greenyellow);
        padding: 5px;
        font-size: 15px;
        font-family: $fuente;
        cursor: pointer;
        grid-area: ele3;
        transform: translateY(-80px) translateX(-100px);
        transition: width 1s;
        width: 77px;
    }
    
    .boton:hover {
        width: 190px;
    }
    
    .links li {
        text-decoration: none;
        color: black;
        display: block;
        padding: 10px;
        grid-area: ele3;
    }
    .links {
        background-color: greenyellow;
        width: 190px;
        display: none;
        transform: translateY(-80px) translateX(-100px);
       
    }
    
    .imagenfooter2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1rem;
    }
    
    .preguntas {
        color: $color;    
        font-weight: bold;
        text-align: center;
        font-family: $fuente;
        font-size: 25px;
        padding-top: 1rem; 
    }
    
    .metodo {
        color: $color;
        font-weight: bold;
        text-align: left;
        font-family: $fuente;
        font-size: 20px;
        
    }
    
    .bienvenidos {
        text-align: center;
        font-family: $fuente;
        font-size: 35px;
        color: $color;
        font-weight: bold;
        padding: 1px;
        margin-top: 1px;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 1px;
        background: $fondo;
    }
 }

 .boton7 {
    display: flex;
    justify-content: center;
}

.efectoimagen :hover {
    transform: scale(1.3);
}
