@media screen and (max-width: 600px) {
    
    .alinearDerecha {
        display: flex;
        flex-direction: column;
    }

    .alinearCentro1 {
        width: 270px;
    }
    
    .carrito {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    .color__Index {
        flex-direction: column;
    }

    .efectoimagen :hover {
        transform: scale(1.3);
    }

    
    .imagenfooter2 {
        display: flex;
        justify-content: center;
    }
    
    
    .preguntas {
        @include letras (center, $colors, 25px);    
        font-weight: bold;
        font-family: $fuente;
        padding-top: 1rem; 
    }
    
}