*{
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-image: url(../imagenes/fondo5.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.icono {
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.alinearDerecha {
    font-family: 'Share Tech Mono', monospace;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.carrito {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.color__Index {
    color: rgb(5, 252, 5);
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: flex-end;
}

.alinearCentro {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    color: rgb(5, 252, 5);
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 75px;
    

}

.alinearCentro1 {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    color: rgb(5, 252, 5);
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: black;
    border-radius: 5%;
    height: 100px;
    width: 300px;
    margin: 2rem auto;
    text-align: center;
    margin-right: center;
    margin-top: center;
    background: linear-gradient(to bottom, black, rgb(80, 79, 79));
}

.alinearCentro2 {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    color: rgb(5, 252, 5);
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5%;
    margin: 2rem auto;
    text-align: center;
    margin-right: center;
    margin-top: center;
}

.alinearcoment {
    border: 1px;
    display: inline-block;
    width: auto;
    margin: auto;
    padding: 20px, 20px;
    text-align: justify;
}

.alinearBusqueda {
    display: flex;
    justify-content: center;
}

.alinearboton {
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(5, 252, 5),greenyellow);
    padding: 5px;
    font-size: 15px;
    font-family: 'Share Tech Mono', monospace;
    cursor: pointer;
    transform: translateX(56rem)
}

.alinearboton3 {
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(5, 252, 5),greenyellow);
    padding: 5px;
    font-size: 15px;
    font-family: 'Share Tech Mono', monospace;
    cursor: pointer;
    transform: translateX(50rem)
}

.alinearboton4 {
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(5, 252, 5),greenyellow);
    padding: 5px;
    font-size: 15px;
    font-family: 'Share Tech Mono', monospace;
    cursor: pointer;
    transform: translateX(53.4rem)
}

.footer {
    text-align: right;
    padding: 50px;
    color: rgb(5, 252, 5) ;
}

.footer1{
    text-align: right;
    padding: 50px;
    color: rgb(5, 252, 5) ;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.derechos {
    padding: 10px;
    color: rgb(5, 252, 5);
    border: dotted;
    background-color: black;
    margin-bottom: 2cm;
    display: flex;
    justify-content: center;
}
.alinearImagenes {
    text-align: Center;
    word-spacing: 100px;
    border: double;
    border-color: rgb(5, 252, 5) ;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-top-width: 10px;
    grid-area: ele5;
    margin-top: 8rem;
}

.alinearDatos {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    color: rgb(5, 252, 5);
    font-weight: bold;
   background: linear-gradient(to bottom, black, rgb(80, 79, 79));
}

.alinearIzquierda{
    color: rgb(5, 252, 5);
    font-family: 'Share Tech Mono', monospace;
    padding: 5px;
    
}

.alinearIzquierda1 {
    color: rgb(5, 252, 5);
    font-family: 'Share Tech Mono', monospace;
    padding: 1cm;
}
.fondo {
    background-color: black;
    width: 150px;
}

.fondo2 {
    background: linear-gradient(to bottom, black, rgb(80, 79, 79));
}

.boton {
    background-image: linear-gradient(to bottom, rgb(5, 252, 5),greenyellow);
    padding: 5px;
    font-size: 15px;
    font-family: 'Share Tech Mono', monospace;
    cursor: pointer;
    grid-area: ele3;
    transform: translateY(-80px) translateX(-100px);
    transition: width 1s;
    width: 77px;
}

.boton:hover {
    width: 190px;
}



.links li {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    grid-area: ele3;
}
.links {
    background-color: greenyellow;
    width: 190px;
    display: none;
    transform: translateY(-80px) translateX(-100px);
   
}
.links li:hover {
    background-image: linear-gradient(to bottom, rgb(5, 252, 5),greenyellow);
}
.desplegable:hover .links {
    display: block;
}
.desplegable {
    position: relative;
    grid-area: ele3;
    padding: 10rem;
}

.slider {
    width: 75%;
    margin: auto;
    overflow: hidden;
    grid-area: ele2;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 10s infinite alternate linear;
}
.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


.imagenfooter {
    width: 40px;
    height: 40px;
}

.imagencover {
    width: 600px;
    height: 300px;
}

.imagenfooter2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;
}

.alinearpreguntas {
    text-align: center;
    padding: 1rem;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    color: rgb(5, 252, 5);
    font-weight: bold;
    background: linear-gradient(to bottom, black, rgb(80, 79, 79));
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows:  50% 50% color black;
    grid-template-areas: 
    "ele1 ele1 ele1"
    "ele2 ele3 ele4"
}

.preguntas {
    color: rgb(5, 252, 5);    
    font-weight: bold;
    grid-area: ele1;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
}

.preguntas1 {
    color: rgb(5, 252, 5);
    padding-top: 2rem;    
    font-weight: bold;
    grid-area: ele1;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
}

.metododepago {
    color: rgb(5, 252, 5);
    font-weight: bold;
    grid-area: ele2;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
}

.envios {
    color: rgb(5, 252, 5);
    font-weight: bold;
    grid-area: ele3;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
}

.devoluciones {
    color: rgb(5, 252, 5);
    font-weight: bold;
    grid-area: ele4;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
}

.maingrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:  15% 25% 30% 30%;
    grid-template-areas:
    "ele1 ele1"
    "ele2 ele2"
    "ele3 ele4"
    "ele5 ele5"
}

.bienvenidos {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    color: rgb(5, 252, 5);
    font-weight: bold;
    padding: 1px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    grid-area: ele1;
    
}


 @media screen and (max-width: 1024px) {
    *{
        margin: 1px;
        padding: 1px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    html {
        background-image: url(../imagenes/fondo5.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    
    .icono {
        text-align: left;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .alinearDerecha {
        font-family: 'Share Tech Mono', monospace;
        font-size: 15px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .carrito {
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem;
    }
    
    .color__Index {
        color: rgb(5, 252, 5);
        display: flex;
        padding: 0.5rem;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .alinearCentro {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        padding: 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 75px;
    
    }
    
    .alinearCentro1 {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        padding: 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: black;
        border-radius: 5%;
        height: 100px;
        width: 300px;
        margin: 2rem auto;
        text-align: center;
        margin-right: center;
        margin-top: center;
    }
    
    .alinearCentro2 {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        padding: 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 5%;
        margin: 2rem auto;
        text-align: center;
        margin-right: center;
        margin-top: center;
    }
    
    .alinearcoment {
        border: 1px;
        display: inline-block;
        width: auto;
        margin: auto;
        padding: 20px, 20px;
        text-align: justify;
    }
    
    .alinearBusqueda {
        display: flex;
        justify-content: center;
    }
    
    .alinearboton {
        text-align: center;
    }
    
    .footer {
        text-align: right;
        padding: 50px;
        color: rgb(5, 252, 5) ;
    }
    
    .footer1{
        text-align: right;
        padding: 50px;
        color: rgb(5, 252, 5) ;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    .derechos {
        padding: 10px;
        color: rgb(5, 252, 5);
        border: dotted;
        background-color: black;
        margin-bottom: 2cm;
        display: flex;
        justify-content: center;
    }
    .alinearImagenes {
        text-align: Center;
        word-spacing: 100px;
        border: double;
        border-color: rgb(5, 252, 5) ;
        border-left-width: 10px;
        border-right-width: 10px;
        border-bottom-width: 10px;
        border-top-width: 10px;
        grid-area: ele5;
        margin-top: 8rem;
    }
    
    .alinearDatos {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        background-color: black;
    }
    
    .alinearIzquierda{
        color: rgb(5, 252, 5);
        font-family: 'Share Tech Mono', monospace;
        padding: 5px;
        
    }
    
    .alinearIzquierda1 {
        color: rgb(5, 252, 5);
        font-family: 'Share Tech Mono', monospace;
        padding: 1cm;
    }
    .fondo {
        background-color: black;
        width: 150px;
    }
    
    .fondo2 {
        background-color: black;
    }
    
    .boton {
        background-color: none;
        padding: 5px;
        font-size: 15px;
        cursor: pointer;
        grid-area: ele3;
    
    }
    
    .links li {
        text-decoration: none;
        color: black;
        display: block;
        padding: 10px;
        grid-area: ele3;
    }
    .links {
        background-color: greenyellow;
        width: 190px;
        display: none;
       
    }
    .links li:hover {
        background-color:rgba(208, 252, 142, 0.979);
    }
    .desplegable:hover .links {
        display: block;
    }
    .desplegable {
        position: relative;
        grid-area: ele3;
        padding: 10rem;
    }
    
    .slider {
        width: 95%;
        margin: auto;
        overflow: hidden;
        grid-area: ele2;
    }
    
    .slider ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 10s infinite alternate linear;
    }
    .slider li {
        width: 100%;
        list-style: none;
    }
    
    .slider img {
        width: 100%;
    }
    
    @keyframes cambio {
        0% {margin-left: 0;}
        20% {margin-left: 0;}
    
        25% {margin-left: -100%;}
        45% {margin-left: -100%;}
    
        50% {margin-left: -200%;}
        70% {margin-left: -200%;}
    
        75% {margin-left: -300%;}
        100% {margin-left: -300%;}
    }
    
    
    .imagenfooter {
        width: 40px;
        height: 40px;
    }
    
    .imagencover {
        width: 600px;
        height: 300px;
    }
    
    .imagenfooter2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1rem;
    }
    
    .alinearpreguntas {
        text-align: center;
        padding: 1rem;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        background-color: black;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows:  50% 50% color black;
        grid-template-areas: 
        "ele1 ele1 ele1"
        "ele2 ele3 ele4"
    }
    
    .preguntas {
        color: rgb(5, 252, 5);    
        font-weight: bold;
        grid-area: ele1;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .preguntas1 {
        color: rgb(5, 252, 5);
        padding-top: 2rem;    
        font-weight: bold;
        grid-area: ele1;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .metododepago {
        color: rgb(5, 252, 5);
        font-weight: bold;
        grid-area: ele2;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .envios {
        color: rgb(5, 252, 5);
        font-weight: bold;
        grid-area: ele3;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .devoluciones {
        color: rgb(5, 252, 5);
        font-weight: bold;
        grid-area: ele4;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .maingrid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows:  auto;
        grid-template-areas:
        "ele1 ele1"
        "ele2 ele2"
        "ele3 ele4"
        "ele5 ele5"
    }
    
    .bienvenidos {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        padding: 1px;
        margin-top: 1px;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 1px;
        grid-area: ele1;
    }
}

 @media screen and (max-width: 768px) { 
    *{
        margin: 1px;
        padding: 1px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    html {
        background-image: url(../imagenes/fondo5.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    
    .icono {
        text-align: left;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .alinearDerecha {
        font-family: 'Share Tech Mono', monospace;
        font-size: 13px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .carrito {
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem;
    }
    
    .color__Index {
        color: rgb(5, 252, 5);
        display: flex;
        padding: 0.5rem;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .alinearCentro {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        padding: 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 75px;
    
    }
    
    .alinearCentro1 {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        padding: 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: black;
        border-radius: 5%;
        height: 100px;
        width: 300px;
        margin: 2rem auto;
        text-align: center;
        margin-right: center;
        margin-top: center;
    }
    
    .alinearCentro2 {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        padding: 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 5%;
        margin: 2rem auto;
        text-align: center;
        margin-right: center;
        margin-top: center;
    }
    
    .alinearcoment {
        border: 1px;
        display: inline-block;
        width: auto;
        margin: auto;
        padding: 20px, 20px;
        text-align: justify;
    }
    
    .alinearBusqueda {
        display: flex;
        justify-content: center;
    }
    
    .alinearboton {
        text-align: center;
    }
    
    .footer {
        text-align: right;
        padding: 50px;
        color: rgb(5, 252, 5) ;
    }
    
    .footer1{
        text-align: right;
        padding: 50px;
        color: rgb(5, 252, 5) ;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    .derechos {
        padding: 10px;
        color: rgb(5, 252, 5);
        border: dotted;
        background-color: black;
        margin-bottom: 2cm;
        display: flex;
        justify-content: center;
    }
    .alinearImagenes {
        text-align: Center;
        word-spacing: 100px;
        border: double;
        border-color: rgb(5, 252, 5) ;
        border-left-width: 10px;
        border-right-width: 10px;
        border-bottom-width: 10px;
        border-top-width: 10px;
        grid-area: ele5;
        margin-top: 8rem;
    }
    
    .alinearDatos {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        background-color: black;
    }
    
    .alinearIzquierda{
        color: rgb(5, 252, 5);
        font-family: 'Share Tech Mono', monospace;
        padding: 5px;
        
    }
    
    .alinearIzquierda1 {
        color: rgb(5, 252, 5);
        font-family: 'Share Tech Mono', monospace;
        padding: 1cm;
    }
    .fondo {
        background-color: black;
        width: 150px;
    }
    
    .fondo2 {
        background-color: black;
    }
    
    .boton {
        background-color: none;
        padding: 5px;
        font-size: 15px;
        cursor: pointer;
        grid-area: ele3;
    
    }
    
    .links li {
        text-decoration: none;
        color: black;
        display: block;
        padding: 10px;
        grid-area: ele3;
    }
    .links {
        background-color: greenyellow;
        width: 190px;
        display: none;
       
    }
    .links li:hover {
        background-color:rgba(208, 252, 142, 0.979);
    }
    .desplegable:hover .links {
        display: block;
    }
    .desplegable {
        position: relative;
        grid-area: ele3;
        padding: 10rem;
    }
    
    .slider {
        width: 95%;
        margin: auto;
        overflow: hidden;
        grid-area: ele2;
    }
    
    .slider ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 10s infinite alternate linear;
    }
    .slider li {
        width: 100%;
        list-style: none;
    }
    
    .slider img {
        width: 100%;
    }
    
    @keyframes cambio {
        0% {margin-left: 0;}
        20% {margin-left: 0;}
    
        25% {margin-left: -100%;}
        45% {margin-left: -100%;}
    
        50% {margin-left: -200%;}
        70% {margin-left: -200%;}
    
        75% {margin-left: -300%;}
        100% {margin-left: -300%;}
    }
    
    
    .imagenfooter {
        width: 40px;
        height: 40px;
    }
    
    .imagencover {
        width: 600px;
        height: 300px;
    }
    
    .imagenfooter2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1rem;
    }
    
    .alinearpreguntas {
        text-align: center;
        padding: 1rem;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        background-color: black;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows:  50% 50% color black;
        grid-template-areas: 
        "ele1 ele1 ele1"
        "ele2 ele3 ele4"
    }
    
    .preguntas {
        color: rgb(5, 252, 5);    
        font-weight: bold;
        grid-area: ele1;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .preguntas1 {
        color: rgb(5, 252, 5);
        padding-top: 2rem;    
        font-weight: bold;
        grid-area: ele1;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .metododepago {
        color: rgb(5, 252, 5);
        font-weight: bold;
        grid-area: ele2;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .envios {
        color: rgb(5, 252, 5);
        font-weight: bold;
        grid-area: ele3;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .devoluciones {
        color: rgb(5, 252, 5);
        font-weight: bold;
        grid-area: ele4;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .maingrid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows:  auto;
        grid-template-areas:
        "ele1 ele1"
        "ele2 ele2"
        "ele3 ele4"
        "ele5 ele5"
    }
    
    .bienvenidos {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        padding: 1px;
        margin-top: 1px;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 1px;
        grid-area: ele1;
    }
}

 @media screen and (max-width: 320px) {
    *{
        margin: 1px;
        padding: 1px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    html {
        background-image: url(../imagenes/fondo5.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    
    .icono {
        text-align: left;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .alinearDerecha {
        font-family: 'Share Tech Mono', monospace;
        font-size: 15px;
        display: flex;
        flex-direction: row;
        margin: 2rem;
    }
    
    .carrito {
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem;
    }
    
    .color__Index {
        color: rgb(5, 252, 5);
        display: flex;
        padding: 0.5rem;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .alinearCentro {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        padding: 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 75px;
    
    }
    
    .alinearCentro1 {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        padding: 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: black;
        border-radius: 5%;
        height: 100px;
        width: 300px;
        margin: 2rem auto;
        text-align: center;
        margin-right: center;
        margin-top: center;
    }
    
    .alinearCentro2 {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        padding: 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 5%;
        margin: 2rem auto;
        text-align: center;
        margin-right: center;
        margin-top: center;
    }
    
    .alinearcoment {
        border: 1px;
        display: inline-block;
        width: auto;
        margin: auto;
        padding: 20px, 20px;
        text-align: justify;
    }
    
    .alinearBusqueda {
        display: flex;
        justify-content: center;
    }
    
    .alinearboton {
        text-align: center;
    }
    
    .footer {
        text-align: right;
        padding: 50px;
        color: rgb(5, 252, 5) ;
    }
    
    .footer1{
        text-align: right;
        padding: 50px;
        color: rgb(5, 252, 5) ;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    .derechos {
        padding: 10px;
        color: rgb(5, 252, 5);
        border: dotted;
        background-color: black;
        margin-bottom: 2cm;
        display: flex;
        justify-content: center;
    }
    .alinearImagenes {
        text-align: Center;
        word-spacing: 100px;
        border: double;
        border-color: rgb(5, 252, 5) ;
        border-left-width: 10px;
        border-right-width: 10px;
        border-bottom-width: 10px;
        border-top-width: 10px;
        grid-area: ele5;
        margin-top: 8rem;
    }
    
    .alinearDatos {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        background-color: black;
    }
    
    .alinearIzquierda{
        color: rgb(5, 252, 5);
        font-family: 'Share Tech Mono', monospace;
        padding: 5px;
        
    }
    
    .alinearIzquierda1 {
        color: rgb(5, 252, 5);
        font-family: 'Share Tech Mono', monospace;
        padding: 1cm;
    }
    .fondo {
        background-color: black;
        width: 150px;

    }
    
    .fondo2 {
        background-color: black;
    }
    
    .boton {
        background-color: none;
        padding: 5px;
        font-size: 15px;
        cursor: pointer;
        grid-area: ele3;
    
    }
    
    .links li {
        text-decoration: none;
        color: black;
        display: block;
        padding: 10px;
        grid-area: ele3;
    }
    .links {
        background-color: greenyellow;
        width: 190px;
        display: none;
       
    }
    .links li:hover {
        background-color:rgba(208, 252, 142, 0.979);
    }
    .desplegable:hover .links {
        display: block;
    }
    .desplegable {
        position: relative;
        grid-area: ele3;
        padding: 10rem;
    }
    
    .slider {
        width: 95%;
        margin: auto;
        overflow: hidden;
        grid-area: ele2;
    }
    
    .slider ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 10s infinite alternate linear;
    }
    .slider li {
        width: 100%;
        list-style: none;
    }
    
    .slider img {
        width: 100%;
    }
    
    @keyframes cambio {
        0% {margin-left: 0;}
        20% {margin-left: 0;}
    
        25% {margin-left: -100%;}
        45% {margin-left: -100%;}
    
        50% {margin-left: -200%;}
        70% {margin-left: -200%;}
    
        75% {margin-left: -300%;}
        100% {margin-left: -300%;}
    }
    
    
    .imagenfooter {
        width: 40px;
        height: 40px;
    }
    
    .imagencover {
        width: 600px;
        height: 300px;
    }
    
    .imagenfooter2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1rem;
    }
    
    .alinearpreguntas {
        text-align: center;
        padding: 1rem;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        background-color: black;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows:  50% 50% color black;
        grid-template-areas: 
        "ele1 ele1 ele1"
        "ele2 ele3 ele4"
    }
    
    .preguntas {
        color: rgb(5, 252, 5);    
        font-weight: bold;
        grid-area: ele1;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .preguntas1 {
        color: rgb(5, 252, 5);
        padding-top: 2rem;    
        font-weight: bold;
        grid-area: ele1;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .metododepago {
        color: rgb(5, 252, 5);
        font-weight: bold;
        grid-area: ele2;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .envios {
        color: rgb(5, 252, 5);
        font-weight: bold;
        grid-area: ele3;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .devoluciones {
        color: rgb(5, 252, 5);
        font-weight: bold;
        grid-area: ele4;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
    }
    
    .maingrid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows:  auto;
        grid-template-areas:
        "ele1 ele1"
        "ele2 ele2"
        "ele3 ele4"
        "ele5 ele5"
    }
    
    .bienvenidos {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        color: rgb(5, 252, 5);
        font-weight: bold;
        padding: 1px;
        margin-top: 1px;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 1px;
        grid-area: ele1;
    }

}
